*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: oswald;
}
body,html{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
  
}
#page1{
    width: 100%;
    height: 100vh;
  
}
#nav{
    position: absolute;
    margin-left: 15vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    width: 70%;
  margin-top: 5vw;
  color: #fff;
}
#about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}
#search{
    margin-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2;
}
#nav i{
   font-size: 1.5vw;
   font-weight: 500;
}
#nav h1{
    font-size: 2.3;
    font-weight: 500;
}
#nav h4{
    font-size: 2.3;
    font-weight: 500;
}
#page1 img{
    width: 100%;
    height: 100vh;
}
#text{
    color: #fff;
    text-align: center;
    position: absolute;
    margin-top: 18vw;
    margin-left: 25vw;
  
}
#text h1{
    font-weight: 500;
    font-size: 3vw;
}

#text p{
    font-weight: 300;
    font-size: 2vw;
    letter-spacing: .3vw;
    margin-bottom: 2vw;
    margin-top: 1vw;
    line-height: 1;
}

#text button{
    margin-top: 2vw;
    background-color: transparent;
    color: #fff;
    padding: .5vw 1.5vw;
    border: none;
    font-weight: 100;
    font-size: 1.5vw;
    letter-spacing: .3vw;
    outline: none;
    transition:  linear 1s;
}
#text button:hover{
    border-bottom: 1px solid #fff;
}
#text #circle{
    position: absolute;
   width: 4vw;
   height: 4vw;
   border-radius: 100%;
   border: 1px solid white;
   margin-top: 3vw;
   margin-left: 22vw;
}
#circle i{
    font-size: 2vw;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .9vw;

}
#box{
    overflow: auto;
    /* position: fixed; */
    width: 100%;
}
#box img{
   

    margin-top: 12vw;
    width: 100%;
}
#page2{
    position: absolute;
    width: 100%;
    height: 90vh;
    background-color: #ECE6E1;
}
#text1{
    margin-top: 5vw;
    margin-left: 15vw;
    color: #616566;
}
#text1 h5{
    font-weight: 300;
    width: 50%;
    font-size: 2.3vw;
    letter-spacing: .2vw;
   transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#text1 p{
    margin-top: 2vw;
    font-size: 1.3vw;
    font-weight: 300;
    width: 37%;
    letter-spacing: .1vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    
}

#text1 button{
    margin-top: 2vw;
    background-color: transparent;
    color: #616566;
    padding: .5vw 1.5vw;
    border: none;
    font-weight: 100;
    font-size: 1.5vw;
    letter-spacing: .3vw;
    outline: none;
    transition:  linear 1s;
}
#text1 button:hover{
    border-bottom: 1px solid #616566;
}
#page3{
    position: absolute;
    margin-top: 40vw;
    width: 100%;
    height: 80vh;
   
}
#text2{
    margin-top: 5vw;
    margin-left: 15vw;
    color: #fff;
}
#text2 h5{
    font-weight: 300;
    width: 50%;
    font-size: 2.3vw;
    letter-spacing: .2vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  
}
#text2 p{
    margin-top: 2vw;
    font-size: 1.3vw;
    font-weight: 300;
    width: 37%;
    letter-spacing: .1vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
   
}

#text2 button{
    margin-top: 2vw;
    background-color: transparent;
    color: #fff;
    padding: .5vw 1.5vw;
    border: none;
    font-weight: 100;
    font-size: 1.5vw;
    letter-spacing: .3vw;
    outline: none;
    transition:  linear 1s;
}
#text2 button:hover{
    border-bottom: 1px solid #fff;
}

#page4{
    margin-top: 78vw;
    position: absolute;
    width: 100%;
    height: 90vh;
    background-color: #ECE6E1;
}

#text3{
    margin-top: 5vw;
    margin-left: 15vw;
    color: #616566;
}
#text3 h5{

    font-weight: 300;
    width: 50%;
    font-size: 2.3vw;
    letter-spacing: .2vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
   
    
}
#text3 p{
    margin-bottom: 1vw;
    margin-top: 2vw;
    font-size: 1.3vw;
    font-weight: 300;
    width: 37%;
    letter-spacing: .1vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  
}

#img{
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img img{
    width: 100%;
    height: 32vw;
}

#txt1{
    margin-left: 3vw;
    margin-top: 15vw;
    position: absolute;

}
#txt1 h1{
    margin-bottom: 2vw;
    font-size: 2vw;
    font-weight: 100;
    color: #fff;

}
#txt1 h2{
    margin-top: 22vw;
    font-size: 1.4vw;
    font-weight: 100;
    color: #fff;

}
#txt1 p{
    display: none;
    width: 22%;
    font-size: 1.2vw;
    font-weight: 100;
    color: #fff;

}

#img1{
    transition: linear 1s;
}
#img1:hover{
    width: 100%;
    #txt1 p{
        width: 22%;
        font-size: 1.2vw;
        font-weight: 100;
        color: #fff;
        display: initial;
    
    }

    #txt1 h2{
        margin-top: 8vw;
        margin-left: 15vw;
        font-size: 1.7vw;
        font-weight: 100;
        color: #fff;
    
    }
}


#txt2{
    margin-left: 3vw;
    margin-top: 15vw;
    position: absolute;

}
#txt2 h1{
    margin-bottom: 2vw;
    font-size: 2vw;
    font-weight: 100;
    color: #fff;

}
#txt2 h2{
    margin-top: 22vw;
    font-size: 1.4vw;
    font-weight: 100;
    color: #fff;

}
#txt2 p{
    display: none;
    width: 22%;
    font-size: 1.2vw;
    font-weight: 100;
    color: #fff;

}

#img2{
    transition: linear 1s;
}
#img2:hover{
    width: 100%;
    #txt2 p{
        width: 22%;
        font-size: 1.2vw;
        font-weight: 100;
        color: #fff;
        display: initial;
    
    }

    #txt2 h2{
        margin-top: 8vw;
        margin-left: 19vw;
        font-size: 1.7vw;
        font-weight: 100;
        color: #fff;
    
    }
}


#txt3{
    margin-left: 3vw;
    margin-top: 15vw;
    position: absolute;

}
#txt3 h1{
    margin-bottom: 2vw;
    font-size: 2vw;
    font-weight: 100;
    color: #fff;

}
#txt3 h2{
    margin-top: 22vw;
    font-size: 1.4vw;
    font-weight: 100;
    color: #fff;

}
#txt3 p{
    display: none;
    width: 22%;
    font-size: 1.2vw;
    font-weight: 100;
    color: #fff;

}

#img3{
    transition: linear 1s;
}
#img3:hover{
    width: 100%;
    #txt3 p{
        width: 22%;
        font-size: 1.2vw;
        font-weight: 100;
        color: #fff;
        display: initial;
    
    }

    #txt3 h2{
        margin-top: 8vw;
        margin-left: 19vw;
        font-size: 1.7vw;
        font-weight: 100;
        color: #fff;
    
    }
}


#txt4{
    margin-left: 3vw;
    margin-top: 15vw;
    position: absolute;

}
#txt4 h1{
    margin-bottom: 2vw;
    font-size: 2vw;
    font-weight: 100;
    color: #fff;

}
#txt4 h2{
    margin-top: 22vw;
    font-size: 1.4vw;
    font-weight: 100;
    color: #fff;

}
#txt4 p{
    display: none;
    width: 22%;
    font-size: 1.2vw;
    font-weight: 100;
    color: #fff;

}

#img4{
    transition: ease-in-out 1s;
}
#img4:hover{
    width: 100%;
    #txt4 p{
        width: 22%;
        font-size: 1.2vw;
        font-weight: 100;
        color: #fff;
        display: initial;
    
    }

    #txt4 h2{
        margin-top: 8vw;
        margin-left: 19vw;
        font-size: 1.7vw;
        font-weight: 100;
        color: #fff;
    
    }
}


#footer{
    margin-top: 65vw;
    width: 100%;
    height: 40vh;
}
#partion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 9vw;
    margin-left: 5vw;
    height: 30vh;
  padding-bottom: 5vw;
    border-bottom: 1px solid #616566;
}
#partion h2{
   
    text-transform: uppercase;
    font-size: 1.3vw;
    font-weight: 400;
    color: #484b4c;
    margin-bottom: 1.5vw;
    transition: linear 1s;
}
#partion h2:hover{
    cursor: pointer;
    color: #3739399f;
}

#partion h4{
    margin-top: .5vw;
    font-size: 1.1vw;
    font-weight: 400;
    color: #484b4c;
    transition: linear 1s;
}
#partion h4:hover{
    cursor: pointer;
    color: #5c5f5f9f;
}
#partion img{
   width: 8vw;
}

#copy{
    padding: 1vw 4vw;
    /* margin-top: 2vw;
    margin-left: 2vw; */
    display: flex;
    align-items: center;
    justify-content: space-between;
  

}
#copy h6{
    font-size: .8vw;
    font-weight: 400;
}
#icons i{
    font-size: 1.5vw;
    font-weight: 400;
  
}